
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /BIGkeenProject/BK_ngeayngeay/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /BIGkeenProject/BK_ngeayngeay/index.php [L]
</IfModule>

# END WordPress